.App {
  text-align: center;
  width:100vw;
}

nav {

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(20, 27, 32);
  color: white;
  right:0;
  box-shadow: 5px 10px 18px #888888;
  position: relative;

}
ul{
  display: flex;
  justify-content: space-around;
  
}
li{
  color:white;
  list-style: none;
  margin-left: 3rem;
 
}
.cm{
  margin-right: -4rem;
  border: 3px solid white;
  text-align: center;    
	color: #f6eff7;
}


.painting{
  margin:5px;
  padding:1rem;
  box-shadow: 5px 10px 18px #888888;
  /* background-color: rgb(129, 126, 126);
  color: aliceblue; */

}
.Gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-shrink:20px;
}
.thumbnail {
  position: relative;
  width: 200px;
  height: 150px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.text{
  mix-blend-mode: screen;
  letter-spacing: .5rem;
  /* font-weight: lighter;
  font-size: xx-large; */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: .5px;
  
}
#detail{
  width:60vw;
  position: relative;
  overflow: hidden;
  /* background-size: contain; */
 
}